.dashboardTitle{
  text-align: center;
  margin: 1em auto;
  h4{
    color:darkgrey;
    margin-top: 2em;
  }
 }

.groupBtn{
 margin-top: 4em;
  text-align: center;
  button{
    color:#383a3e;
    border:1px solid #383a3e;
    margin: 2em ;
  }


}
