<div class="dashboardTitle">
  <h3>TABLEAU DE BORD</h3>
  <h4>Interface de lancement et résultats des votes</h4>
</div>

<div class="groupBtn">
  <span *ngIf="launchVote != null">
  <button mat-button class="launchBtn" color="primary" *ngIf="launchVote.authorization == false" (click)="launching()">
    <i class="material-icons">
      play_circle_outline
    </i>Lancer les votes
  </button>

  <button mat-button class="stopBtn" color="primary" *ngIf="launchVote.authorization == true" (click)="stopLaunching()">
    <i class="material-icons">
      stop
    </i>Stopper les votes
  </button>


  <button mat-button class="resultBtn" id="resultBtn" color="primary" (click)="showResults()" [disabled]="launchVote.authorization == false || !isVoteEnd">
    <i class="material-icons">
      emoji_events
    </i>Afficher les résultats
  </button>
</span>
</div>
<app-vote *ngIf="showVotes"></app-vote>