#exportthis{
  display: flex;
  flex-wrap: wrap;
}

.createPDF{
  margin-top: 2em;
  background-color: #F8E212;
  color: white;
}

.btnPdf{
  text-align: center;
}

.formSize{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 15em;
  margin:auto;
}
