.Logomultimedialpes {
  width: 30em;
  position: absolute;
  margin-top: -7em;
  margin-left: 25em;
}

.centerForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 5em;

  span {
    background-color: #F8E212;
    color: #2F3C5F;
  }
  .span1 {
    border-top-left-radius: 25px;
  }

  .span2 {
    border-bottom-right-radius: 25px;

  }
}

.login-box {
  height: 30em;
  width: 40em;
  margin: auto;
  background-image: radial-gradient(
      #2F3C5F 25%,
      #30353D);
  -webkit-box-shadow: 15px 25px 33px 12px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 15px 25px 33px 12px rgba(0, 0, 0, 0.51);
  box-shadow: 15px 25px 33px 12px rgba(0, 0, 0, 0.51);
}


.ui-inputgroup {
  width: 30em;
  margin: auto;

  .inputStyle {
    border-bottom-right-radius: 25px;

  }
}

.btnConnexion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.btnConnect {
  height: 2.5em;
  width: 11em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  background-color: #2F3C5F !important;
  border: 1px solid #F8E212 !important;
  color: #F8E212 !important;
  border-radius: 20px;
  -webkit-box-shadow: 4px 8px 45px -11px rgba(255, 255, 255, 1);
  -moz-box-shadow: 4px 8px 45px -11px rgba(255, 255, 255, 1);
  box-shadow: 4px 8px 45px -11px rgba(255, 255, 255, 1);
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


#mySidenav a {
  position: absolute;
  left: -190px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.6em;
  width: 250px;
  text-decoration: none;
  font-size: 20px;
  // color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #F8E212;
  color: #F8E212;
}

#blog {
  top: 80px;
  background-color: #EB830A;
  color: #EB830A;
}

#projects {
  top: 140px;
  background-color: #78C6CA;
  color: #78C6CA;
}

#contact {
  top: 200px;
  background-color: #78B93B;
  color: #78B93B;
}

input {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}