<div class="login-container" style="height: 40em">
  <div class="ui-g">
    <div class="ui-g-12">
      <img class="Logomultimedialpes" src="../../../assets/Resources/img/Logomultimedialpes.png">
    </div>
  </div>

  <form [formGroup]="profileForm" class="example-form login-box" (ngSubmit)="onSubmit()">
    <div class="ui-g ui-fluid centerForm">
      <div class="ui-g-12" style="margin-top:15em">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon span1"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
          <input class="inputStyle" type="email" pInputText placeholder="E-mail" value="" formControlName="email">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon span1"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
          <input  type="text" pInputText placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" value=""
                 formControlName="password">
          <span class="ui-inputgroup-addon span2" (click)="hide = !hide"> <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 btnConnexion">
        <button pButton type="submit" class="ui-button-info btnConnect" [disabled]="!profileForm.valid">Se connecter
        </button>
      </div>
    </div>
  </form>


  <div id="mySidenav" class="sidenav">
    <a href="#" id="about">contact</a>
    <a href="#" id="blog">A propos</a>
    <a href="#" id="projects">autre</a>
    <a href="#" id="contact">autre</a>
  </div>
</div>


