.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.loader {
  display: flex;
  justify-content: center
}

table {
  thead {
    background-color: #383a3e;
    color: white;
  }

  .numTh {
    width: 5em;
  }

  .projectTh {
    width: 20em;
  }

  .actionTh {
    width: 15em;
  }
}


//buttons
.addBtn {
  background-color: darkcyan;
  color: white;
}

.editBtn {
  background-color: #383a3e;
}

.deleteBtn {
  margin-left: 4em;
}
