<div class="container">
  <h2>Liste des prix</h2>
  <button type="button" class="btn btn-primary">ajouter</button>
  <table class="table">
    <thead>
    <tr>
      <th>No.</th>
      <th>Prix</th>
      <th>Projets associés</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>prix de ...</td>
      <td>film/web</td>
      <td>
        <button type="button" class="btn">Editer</button>
        <button type="button" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

