<h3 mat-dialog-title>Modifier un Type </h3>

<form class="example-container" [formGroup]="typeForm">
  <div>
    <mat-form-field appearance="fill" style="width:40em">
      <mat-label>Nom du Prix</mat-label>
      <input matInput maxlength="50" formControlName="title" type="text" value="{{data.type.title}}" required>
      <mat-error *ngIf="typeForm.controls.title.errors && typeForm.controls.title.touched">Ce champ est requis</mat-error>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex align-items-center justify-content-end">
    <button mat-raised-button color="primary" (click)="edit()" [disabled]="!typeForm.valid" class="saveBtn mr-2">Enregistrer</button>
    <button mat-raised-button mat-dialog-close color="warn">Annuler</button>
  </div>
</form>
