.FormProject{
  form{
    display: flex;
    flex-direction: column;
    width: 700px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.editBtn {
  background-color: #383a3e;
}

.deleteBtn {
  margin-left: 4em;
}
