.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.addBtn {
  background-image: radial-gradient(
      #2F3C5F 25%,
      #30353D
  );
  color: white;
}

.loader {
  display: flex;
  justify-content: center;
}

table {
  .mat-header-row {
    background-color: #383a3e;
  }

  .mat-header-cell {
    color: white;
  }

  th {
    vertical-align: middle;
    background-image: radial-gradient(
        #2F3C5F 25%,
        #30353D
    );
    padding: 0.8em;

    i {
      vertical-align: top;
    }
  }

  td {
    padding: 0.8em;
  }

  .projectTh {
    width: 20em;
  }

  .actionTh {
    width: 15em;
    text-align: center;
  }
}

//buttons

.centerBtn {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.addBtn {
  background-color: #bcbec2;
  color: white;
}

.editBtn {
  background-color: #F8E212;
}

.deleteBtn {
  margin-left: 4em;
  background-color: #EB830A;
}

.poster {
  position: relative;
  top: 0px;
  width: 50px;
  height: auto;
  align-content: center;
}

.mat-column-select {
  overflow: initial;
}