<div class="container">
  <div class="header">
    <h2>Gestion des types</h2>
    <button mat-raised-button color="primary" (click)="createType()">
      <i class="material-icons">
        post_add
      </i>
      Ajouter
    </button>
  </div>

  <table mat-table [dataSource]="this.dataSource" class="w-100">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actionTh">Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="editBtn">
          <i class="material-icons">
            create
          </i>
        </button>
        <button mat-mini-fab color="warn" class="deleteBtn" (click)="deleteType(element)">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--<table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of types">
      <td>{{item.name}}</td>
      <td>
        <button mat-mini-fab class="editBtn">
          <i class="material-icons">
            create
          </i>
        </button>
        <button mat-mini-fab color="warn" class="deleteBtn" (click)="deleteType(item.id)">
          <i class="material-icons">
            delete_forever
          </i></button>
      </td>
    </tr>
    </tbody>
  </table>-->
</div>
