<div class="FormProject">
  <form [formGroup]="projectForm">
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Titre du projet</mat-label>
      <input matInput id="title" type="text" formControlName="title" maxlength="50" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label for="description">Description</mat-label>
      <textarea matInput id="description" name="description" rows="5" cols="50" formControlName="description" maxlength="249" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label for="persons">Personnes</mat-label>
      <textarea matInput id="persons" name="persons" rows="5" cols="50" formControlName="persons"
      required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Type du projet </mat-label>
      <mat-select name="Type" id="type" formControlName="type" required>
        <mat-option *ngFor="let datas of data.type" [value]="datas">{{datas.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <input pInputText (change)="onFileSelected($event.target.files)" type="file" accept="image/*" id="file" formControlName="file">

    <div class="modalBtn">
      <button mat-raised-button color="primary" class="saveBtn" [disabled]="!projectForm.valid" (click)="editProjet()">Modifier</button>
      <button mat-raised-button mat-dialog-close color="warn">Annuler</button>
    </div>
  </form>
</div>
