<h3 mat-dialog-title>Ajouter un Prix </h3>

<form class="example-container" [formGroup]="createAwardForm" style=" width: 35em;">
  <div>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Désignation</mat-label>
      <input matInput maxlength="50" formControlName="name" type="text" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Sélectionner un type de projet associé</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let t of data.typeProject" value="{{t['@id']}}">{{t['title']}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="modalBtn">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!createAwardForm.valid" class="saveBtn">Enregistrer</button>
    <button mat-raised-button mat-dialog-close color="warn">Annuler</button>
  </div>
</form>
