<div class="FormProject">
  <form [formGroup]="projectForm" ng-scrollbar>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Titre du projet</mat-label>
      <input maxlength="50" matInput id="title" type="text" formControlName="title" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label for="description">Description</mat-label>
      <textarea maxlength="500" matInput id="description" name="description"
                formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width:100%">
      <mat-label for="persons">Personnes</mat-label>
      <textarea matInput id="persons" name="persons" cols="50" formControlName="persons" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label for="type">Type du projet :</mat-label>
      <mat-select name="Type" id="type" formControlName="type" required>
        <mat-option value="{{typeInfo['@id']}}" *ngFor="let typeInfo of type">{{typeInfo['title']}}</mat-option>
      </mat-select>
    </mat-form-field>
    <input pInputText (change)="onFileSelected()" type="file" accept="image/*" id="file" formControlName="file">
    <div class="modalBtn">
      <button mat-raised-button color="primary" class="saveBtn" [disabled]="!projectForm.valid" (click)="save()">Créer
      </button>
      <button mat-raised-button mat-dialog-close color="warn">Annuler</button>
    </div>
  </form>
</div>
