
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .logoMMAlpes {
    width: 5em;
    height: auto;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #dadae3;
  }

  .menutoolbar {
    color: white;
    background-image:
    radial-gradient(
        #2F3C5F 25%,
        #30353D
    );
  }

  .tbmenu {
    position: fixed;
    z-index: 2;
    top: 0px;
  }
